.search {
  width: 85%;
}

.search_input {
  width: 100%;
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  font-size: 16px;
  background-image: url("https://html5css.ru/css/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
